$assetPath :"../assets";
$avatar-bg:#2A272A;
$h3-color:rgba(0, 0, 0, 0.58);
$input-color:rgba(0, 0, 0, 0.72);
$input-placeholder-color: rgba(0, 0, 0, 0.60);
$border-bottom-values: 2px solid rgba(0, 0, 0, 0.1);
$link:#7f3ff5;